# Only inlcude aura files with 'ASM'; everything else is irrelevant

/src/aura/*
!/src/aura/ASM_AllTasks
!/src/aura/ASM_AllTasksContainer
!/src/aura/ASM_CreateTask
!/src/aura/ASM_CreateTaskContainer
!/src/aura/ASM_DeleteButton
!/src/aura/ASM_DisplayComponent
!/src/aura/ASM_ToDoApp
!/src/aura/ASM_ToDoDeleteTaskEvent
!/src/aura/ASM_ToDoAddTaskEvent
!/src/aura/ASM_ToDoCompRecPage
!/src/aura/HeaderComponent

# Do not include components, pages, staticresources, triggers

/src/components
/src/pages
/src/staticresources
/src/triggers

# only include ASM_ScheduledCreateTasks, ASM_ScheduledRemoveTasks and taskController

/src/classes/*
!/src/classes/ASM_ScheduledCreateTasks.cls
!/src/classes/ASM_ScheduledRemoveTasks.cls
!/src/classes/taskController.cls

# No debug logs, .vscode or config

/debug/logs
/.vscode
/config